*{
    padding: 0;
    margin: 0;
}
body {
    margin-top: 70px;
}
div.footline {
    padding-top: 15px;
    padding-left: 0px;
    text-align: center;
    background: #1F1F1F;
}
div.footline p {
    padding-top: 0px;
    color: #9E9E9E;
    font-size: 1.1em;
}
div.img-logo {
    padding: 10px;
}
@font-face {
    font-family:'汉仪颜楷';
    src: url(fonts/汉仪颜楷.ttf);
}
p.fontlogo {
    font-family: '汉仪颜楷';
    font-size: 180%;

}
h3.fontlogo {
    font-family: '汉仪颜楷';
    letter-spacing:8px;
    font-size: 300%;
}